@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.1rem;
}
.main{
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
}

.container{
    width: 650px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.upper{
    width: 650px;
    height: 225px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    /* margin-left: 30px;
    margin-top: 50px; */
}
.lower{
    width:650px ;
    height: 225px;
    background-color: black;
    display: flex;
    border-radius: 0 0 10px 10px;
}
.box{
    width: 325px;
    height:225px;
}

.left{
    background-color:rgba(43, 179, 177,255);
    /* border-radius: 0 0 10px 0; */
    border-radius: 0 0 0 10px;
    
    

}
.right{
    background-color:rgba(74, 190, 189, 255);
    border-radius: 0 0 10px 0;
}

.st {
    font-size: 35px;
    color: white;
}
li{
    list-style: none;
    margin-left: 30px;
    color: hsl(204, 43%, 93%);
    font-size: 15px;
    /* margin-top: 30px; */
}

h3{
    margin-top: 30px;
    margin-left: 30px;
    color: white;
}

.one h2{
    margin-top: 50px;
    margin-left: 40px;
    color: rgba(74, 190, 189, 255);
}

.two{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
    color:hsl(71, 73%, 54%) ;
}

.three{
    margin-left: 40px;
    color: grey;
    opacity: 60%;
}

.left p{
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.nd{
    color: grey;
}

.last{
    color: white;
}

button{
    margin-left: 40px;
    width: 234px;
    height: 32px;
    border-radius: 6px;
    background-color:hsl(71, 73%, 54%) ;
    color: white;
    border: 1px solid hsl(71, 73%, 54%);
}

.right h3{
    margin-bottom: 20px;
}

@media screen and (max-width: 680px){
    .main{
        height: 100vh;
    }
    .container{
        width: 80%;
        height: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .upper{
        width: 100%;
        /* height: 225px; */
        background-color: white;
        border-radius: 10px 10px 0 0;
        /* margin-left: 30px;
        margin-top: 50px; */
    }
    .lower{
        width:100% ;
        /* height: 225px; */
        background-color: black;
        display: flex;
        flex-direction: column;
        /* border-radius: 0 0 10px 10px; */
    }
    .box{
        width: 100%;
        /* height:%; */
    }
    .left{
        background-color:rgba(43, 179, 177,255);
        border-radius: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        
    
    }
    .right{
        background-color:rgba(74, 190, 189, 255);
        border-radius: 0 0 10px 10px;
        padding-bottom: 18px;
    }
    .one h2{
        margin-top: 30px;
        margin-left: 40px;
        color: rgba(74, 190, 189, 255);
    }
    
    .two{
        margin-top: 10px;
        margin-left: 40px;
        margin-bottom: 20px;
        color:hsl(71, 73%, 54%) ;
    }
    .three{
        margin-left: 40px;
        color: grey;
        opacity: 60%;
    }
}


